<a href="https://colab.research.google.com/github/Kleiyia/OOP-58002-/blob/main/FUNDAMENTALS_OF_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PHYTHON VARIABLES

In [ ]:
x = float(1) 
a, b = 0, -1
a, b, c = "Mikey", "Emma", "Shinichiro"

print('This a sample')
print(a)
print(c)

This a sample
Mikey
Shinichiro

CASTING

In [ ]:
print (x)

1.0

TYPE()  FUNCTION

In [ ]:
y = "Blue Lily"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

DOUBLE QUOTES AND SINGLE QUOTES

In [ ]:
h= "Katana"
v= 1
V= 2

print(h)
print(v)
print(v+1)

Katana
1
2

MULTIPLE VARIABLES

In [ ]:
x,y,z="ichi", "ni", "san"
print(x)
print(y)
print(z)
print(x,y,z)

ichi
ni
san
ichi ni san

ONE VALUE TO MULTIPLE VARIABLES

In [ ]:
x = y = z ="Benson"
print(x,y,z)

Benson Benson Benson

OUTPUT VARIABLES

In [ ]:
x= "Watching"

print("I am " + x)

x = "All of us are dead"
y = "at 1 in the morning"

print(x+""+" "+y)

I am Watching
All of us are dead at 1 in the morning

ARITHMETIC OPERATIONS

In [ ]:
f = 4
g = 6
i = 7

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**6)

10
-2
28
1
0.5
3
0
729

ASSIGNMENT OPERATORS

In [ ]:
k = 2
l=3
k+=3 #same as k=k+3 

print(k)

print(l>>1)

5
1

BOOLEAN OPERATORS

In [ ]:
k=4
l=3
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

1
16

RELATIONAL OPERATORS

In [ ]:
print(v>k) #v=1, k=2

print(v==k)

False
False

LOGICAL OPERATORS

In [ ]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

IDENTITY OPERATORS

In [ ]:
print(v is k)
print(v is not k)

False
True